In [4]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\shiva\\Downloads\\covid_toy.csv")

In [3]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
df=df.dropna()
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [7]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
lb=LabelEncoder()

In [10]:
df['gender']=lb.fit_transform(df['gender'])

In [11]:
df.head(2)

   age  gender  fever cough     city has_covid
0   60       1  103.0  Mild  Kolkata        No
1   27       1  100.0  Mild    Delhi       Yes

In [12]:
df['cough']=lb.fit_transform(df['cough'])
df['city']=lb.fit_transform(df['city'])
df['has_covid']=lb.fit_transform(df['has_covid'])

In [13]:
# OrdinalEncoding

In [14]:
df=pd.read_csv("C:\\Users\\shiva\\Downloads\\covid_toy.csv")

In [15]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [16]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [17]:
df=df.drop(columns=['age','fever'])
df.head(3)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes
2   Male  Mild    Delhi        No

In [18]:
from sklearn.preprocessing import OrdinalEncoder

In [19]:
oe=OrdinalEncoder(categories=[['Male','Female'],
                             ['Mild','Strong'],
                             ['Kolkata','Bangalore','Delhi','Mumbai'],
                             ['No','Yes']])

In [20]:
oe.fit_transform(df)

array([[0., 0., 0., 0.],
       [0., 0., 2., 1.],
       [0., 0., 2., 0.],
       [1., 0., 0., 0.],
       [1., 0., 3., 0.],
       [1., 0., 1., 1.],
       [0., 1., 1., 0.],
       [1., 1., 3., 1.],
       [1., 1., 1., 0.],
       [1., 0., 2., 0.],
       [1., 0., 2., 0.],
       [1., 0., 3., 1.],
       [1., 1., 0., 0.],
       [0., 0., 1., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [1., 1., 2., 0.],
       [1., 0., 1., 1.],
       [1., 1., 1., 1.],
       [0., 1., 1., 0.],
       [0., 0., 1., 1.],
       [1., 1., 0., 1.],
       [1., 0., 2., 1.],
       [1., 1., 0., 0.],
       [0., 0., 3., 0.],
       [1., 0., 0., 1.],
       [1., 1., 2., 0.],
       [0., 0., 0., 0.],
       [1., 1., 3., 1.],
       [0., 0., 2., 1.],
       [0., 0., 0., 0.],
       [1., 1., 2., 1.],
       [1., 0., 0., 0.],
       [0., 0., 3., 1.],
       [1., 1., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [1., 0., 2., 1.],
       [1., 0., 0., 0.],
       [1., 0., 2., 0.],
       [0., 0., 0., 1.],
       [0., 0., 2., 1.],
       [1., 0., 1., 1.],
       [0., 1., 2., 0.],
       [0., 0., 1., 0.],
       [1., 0., 3., 0.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [0., 0., 3., 0.],
       [0., 0., 2., 1.],
       [1., 1., 0., 1.],
       [1., 1., 1., 1.],
       [0., 0., 2., 1.],
       [1., 0., 3., 1.],
       [1., 0., 3., 1.],
       [0., 1., 0., 0.],
       [1., 1., 1., 0.],
       [0., 1., 3., 1.],
       [1., 0., 0., 1.],
       [1., 1., 1., 1.],
       [1., 1., 3., 0.],
       [1., 1., 1., 1.],
       [0., 0., 1., 0.],
       [0., 0., 3., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 1., 0., 0.],
       [1., 0., 2., 0.],
       [1., 1., 2., 0.],
       [1., 1., 2., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 1.],
       [1., 1., 2., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 1.],
       [1., 0., 0., 1.],
       [1., 0., 3., 1.],
       [0., 0., 2., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 1., 3., 0.],
       [1., 0., 1., 1.],
       [0., 0., 1., 1.],
       [0., 1., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 1., 0.],
       [1., 1., 2., 0.],
       [0., 0., 2., 1.],
       [1., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 1., 3., 0.],
       [1., 1., 0., 1.]])

In [21]:
# OneHotEncoding

In [22]:
df=pd.read_csv("C:\\Users\\shiva\\Downloads\\covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [23]:
from sklearn.preprocessing import OneHotEncoder

In [24]:
ohe=OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [25]:
df_new=ohe.fit_transform(df[['gender','cough','city','has_covid']])

In [26]:
# get_dummies

In [27]:
a=pd.get_dummies(df,columns=['gender','cough','city','has_covid'],drop_first=True)

In [28]:
a=a.dropna()
a.head(3)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103.0,True,False,False,True,False,False
1,27,100.0,True,False,True,False,False,True
2,42,101.0,True,False,True,False,False,False

In [29]:
a=a.astype(int)
a

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103,1,0,0,1,0,0
1,27,100,1,0,1,0,0,1
2,42,101,1,0,1,0,0,0
3,31,98,0,0,0,1,0,0
4,65,101,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
95,12,104,0,0,0,0,0,0
96,51,101,0,1,0,1,0,1
97,20,101,0,0,0,0,0,0
98,5,98,0,1,0,0,1,0
99,10,98,0,1,0,1,0,1

In [31]:
from sklearn.model_selection import train_test_split

In [41]:
x=a.drop(columns=['has_covid_Yes'])
x.shape

(90, 7)

In [43]:
y=a['has_covid_Yes']
y.shape

(90,)

In [47]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [48]:
print("Total Df:",df.shape)
print("-----------------------")
print("Input data shape(x):",x.shape)
print("x_train data shape(x):",x_train.shape)
print("x_test data shape(x):",x_test.shape)
print("-----------------------------------")
print("Input data shape(y):",y.shape)
print("x_train data shape(y):",y_train.shape)
print("x_test data shape(y):",y_test.shape)
print("-----------------------------------")

Total Df: (100, 6)
-----------------------
Input data shape(x): (90, 7)
x_train data shape(x): (72, 7)
x_test data shape(x): (18, 7)
-----------------------------------
Input data shape(y): (90,)
x_train data shape(y): (72,)
x_test data shape(y): (18,)
-----------------------------------

In [49]:
from sklearn.preprocessing import StandardScaler

In [50]:
sc=  StandardScaler()

In [51]:
x_train_sc = sc.fit_transform(x_train)

In [52]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [53]:
np.round(x_train_new.describe() ,2)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai
count,72.00,72.00,72.00,72.00,72.00,72.00,72.00
mean,-0.00,-0.00,-0.00,0.00,-0.00,0.00,-0.00
std,1.01,1.01,1.01,1.01,1.01,1.01,1.01
min,-1.53,-1.30,-0.75,-0.73,-0.56,-0.69,-0.38
25%,-0.95,-0.83,-0.75,-0.73,-0.56,-0.69,-0.38
50%,0.14,0.13,-0.75,-0.73,-0.56,-0.69,-0.38
75%,0.86,0.72,1.33,1.37,-0.56,1.46,-0.38
max,1.57,1.55,1.33,1.37,1.80,1.46,2.65

In [54]:
from sklearn.preprocessing import MinMaxScaler

In [55]:
mn = MinMaxScaler()

In [56]:
x_train_mn = mn.fit_transform(x_train)

In [57]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [58]:
np.round(x_train_new.describe(),2)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai
count,72.00,72.00,72.00,72.00,72.00,72.00,72.00
mean,0.49,0.46,0.36,0.35,0.24,0.32,0.12
std,0.32,0.35,0.48,0.48,0.43,0.47,0.33
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.19,0.17,0.00,0.00,0.00,0.00,0.00
50%,0.54,0.50,0.00,0.00,0.00,0.00,0.00
75%,0.77,0.71,1.00,1.00,0.00,1.00,0.00
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00